h1{
    color: rgb(134, 18, 14);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

button{
    border-radius: 20px;
    color: rgb(36, 33, 33);  
    width: 200px;
    height: 50px;  
    cursor: pointer;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

image{
    border-radius: 25px;
}

.opcoes{
 display: inline-block;
  margin-right: 10px;


}

.Botoes{
    color: rgb(255, 255, 255);
    border-color: black;
    font-family: 'Times New Roman', Times, serif;
     background-color: rgb(25,170,25);
}

#Game Pass titulo{
     font-family: 'Times New Roman', Times, serif;
}
    

#Game pass descricao{
    font-family: Arial, Helvetica, sans-serif;
}